#page-manager-edit .col-sm-4 { 
  float: left; 
  width: 33%; 
}

#page-manager-edit  .col-sm-4 .inside { 
  margin: 0 .5em 1em 0;
}


#page-manager-edit  .col-sm-4 .panel-separator {
  margin: 0 0 1em 0;
}
